@inherits Umbraco.Web.Mvc.UmbracoViewPage<Ibtikar_VisualArtPlatform.ViewModels.LoginViewModel>
@using Umbraco.Web


@{ if (!Umbraco.MemberIsLoggedOn())
    {
        using (Html.BeginUmbracoForm("SubmitLogin", "Member", System.Web.Mvc.FormMethod.Post, new { id = "login" }))
        {
            <div class="row">
                @Html.AntiForgeryToken()
                <div class="col-12">
                    <div class="form-group">
                        <label>@Umbraco.GetDictionaryValue("Email")</label>
                        @Html.TextBoxFor(m => m.Username, new { placeholder = "Email", @class = "form-control" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>@Umbraco.GetDictionaryValue("Password")</label>
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                    </div>
                </div>

                @Html.ValidationSummary()
                <div class="col-12">
                    <button class="default-btn btn-block" type="submit">
                        @Umbraco.GetDictionaryValue("LogIn")
                    </button>
                </div>
            </div>
        }
    }
    else
    {
        Html.RenderAction("RenderLogout", "Member");
    }
}