@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContactUs>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
    var homepage = Model.AncestorOrSelf<ContentModels.Home>();
    var contactus = homepage.Children<ContentModels.ContactUs>().FirstOrDefault();
}

		<!-- Start Page Title Area -->
		<div class="page-title-area bg-5">
			<div class="container">
				<div class="page-title-content">
					<h2>@contactus.Name</h2>
				</div>
			</div>
		</div>
		<!-- End Page Title Area -->

		<!-- Start Contact Info Area -->
		<section class="contact-info-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-sm-6">
						<div class="single-contact-info">
							<i class="flaticon-call"></i>
							<h3>@Umbraco.GetDictionaryValue("CallUs")</h3>
							<a href="tel://@contactus.Phone">@contactus.Phone</a>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6">
						<div class="single-contact-info">
							<i class="flaticon-pin"></i>
							<h3>@Umbraco.GetDictionaryValue("OurLocation")</h3>
							<a href="#">@contactus.Address</a>
						</div>
					</div>

					<div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
						<div class="single-contact-info">
							<i class="flaticon-email"></i>
							<h3>@Umbraco.GetDictionaryValue("Email")</h3>
                            <a href="mailto:@contactus.Email">@contactus.Email</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Contact Info Area -->

		<!-- Start Contact Area -->
		<section class="main-contact-area pb-100">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="contact-wrap contact-pages mb-0">
							<div class="contact-form">
								<div class="section-title">
									<h2>Drop us a message for any query</h2>
									<p>For more information about our courses, get in touch <br> with eduon contacts</p>
										
								</div>
								<form id="contactForm">
									<div class="row">
										<div class="col-lg-6 col-sm-6">
											<div class="form-group">
												<label>Name</label>
												<input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name">
												<div class="help-block with-errors"></div>
											</div>
										</div>
			
										<div class="col-lg-6 col-sm-6">
											<div class="form-group">
												<label>Email Address</label>
												<input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email">
												<div class="help-block with-errors"></div>
											</div>
										</div>
			
										<div class="col-12">
											<div class="form-group">
												<label>Subject</label>
												<input type="text" name="msg_subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
												<div class="help-block with-errors"></div>
											</div>
										</div>
			
										<div class="col-12">
											<div class="form-group">
												<label>Message</label>
												<textarea name="message" class="form-control" id="message" cols="30" rows="10" required data-error="Write your message"></textarea>
												<div class="help-block with-errors"></div>
											</div>
										</div>
			
										<div class="col-lg-12 col-md-12">
											<button type="submit" class="default-btn btn-two">
												Send Message
											</button>
											<div id="msgSubmit" class="h3 text-center hidden"></div>
											<div class="clearfix"></div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Contact Area -->

		<!-- Start Map Area -->
		<div class="map-area">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.4266322799504!2d31.3220504154509!3d30.02461592646318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583ec6ccf0580f%3A0xc27042668a1d7ff8!2sEmtedad%20Ramses%2C%20Cairo%20Governorate!5e0!3m2!1sen!2seg!4v1609680243903!5m2!1sen!2seg" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		</div>
