@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Event>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}
<div class="page-title-area bg-25">
    <div class="container">
        <div class="page-title-content">
            <h2>@Umbraco.AssignedContentItem.Name</h2>
            <ul>
                <li>
                    <a href="@Umbraco.AssignedContentItem.Parent.Url()">
                        @Umbraco.AssignedContentItem.Parent.Name
                    </a>
                </li>

                <li class="active">@Umbraco.AssignedContentItem.Name</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start Single Event Area -->
<section class="single-event-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-event-content">
                    <h3 class="title">@Model.Title</h3>

                    <ul class="post-details">
                        @*<li>
                                <i class='bx bx-user'></i>
                                By <a href="#">Admin</a>
                            </li>*@
                        <li>
                            <i class='bx bx-calendar'></i>
                            Posted on @Model.CreateDate
                        </li>
                        @*<li>
                                <i class='bx bx-comment'></i>
                                <a href="#">2 Comments</a>
                            </li>*@
                    </ul>

                    <img src="@Model.Picture" alt="Image">

                    <h3 class="mb-2">@Model.Subtitle</h3>

                    <p>@Model.Description</p>
                </div>

                @*<div class="map-area">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830869428!2d-74.119763973046!3d40.69766374874431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1595487039539!5m2!1sen!2sbd"></iframe>
                    </div>*@

                @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>

                    <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas auguae, eu vulputate magna eros eu Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>*@
            </div>

            <div class="col-lg-4">
                <div class="account-wrap">
                    <ul>
                        @*<li>
            Price: <span class="bold">$29.00</span>
        </li>
        <li>
            Start: <span>Sep 01, 2020</span>
        </li>*@
                        <li>
                            Date: <span>@Model.EventDate.ToString("dddd, dd MMMM yyyy")</span>
                        </li>
                        <li>
                            Time: <span>@Model.EventDate.ToString("hh:mm tt")</span>
                        </li>
                        @*<li>
                            Event category: <span>Education</span>
                        </li>
                        <li>
                            Total slot: <span>100</span>
                        </li>
                        <li>
                            Booked slot: <span>00</span>
                        </li>
                        <li>
                            Website: <a href="#">www.eduon.com</a>
                        </li>*@
                    </ul>

                    @*<a href="#" class="default-btn">Book now</a>
                    <p>You must <a href="log-in.html">login</a> before register event.</p>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Single Event Area -->
