@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Events>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var homepage = Model.AncestorOrSelf<ContentModels.Home>();
    var EventsContent = homepage.Children<ContentModels.Events>().FirstOrDefault();
    var Events = EventsContent.Children<ContentModels.Event>();
}
<!-- Start Page Title Area -->
<div class="page-title-area bg-24">
    <div class="container">
        <div class="page-title-content">
            <h2>@Umbraco.AssignedContentItem.Name</h2>
            <ul>
                <li>
                    <a href="@Umbraco.AssignedContentItem.Parent.Url()">
                        @Umbraco.AssignedContentItem.Parent.Name
                    </a>
                </li>
                <li class="active">@Umbraco.AssignedContentItem.Name</li>
            </ul>
        </div>
    </div>
</div>

<section class="event-area-style pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>@Model.Title</span>
            <h2>@Model.Subtitle</h2>
        </div>

        <div class="row">
            @foreach (var Event in Events)
            {
                <div class="col-lg-6 col-sm-6">
                    <div class="single-event">
                        <a href="@Event.Url()">
                            <img src="@Event.Thumbnail" alt="Image">
                        </a>

                        <div class="event-content">
                            <ul>
                                <li>
                                    <i class="bx bx-calendar"></i>
                                    @*Aug 13, 2020*@
                                    @Event.EventDate.ToString("dddd, dd MMMM yyyy") 
                                </li>
                                <li>
                                    <i class="bx bx-time"></i>
                                    @*Monday 3:00AM - 5:00PM*@
                                    @Event.EventDate.ToString("hh:mm tt")
                                </li>
                            </ul>

                            <a href="@Event.Url()">
                                <h3>@Event.Title</h3>
                            </a>

                            <span>
                                <i class="bx bxs-location-plus"></i>
                                @Event.Location
                            </span>
                        </div>
                    </div>
                </div>

            }


        </div>
    </div>
</section>