@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;
    if (Model.ContentType.Alias == "fAQs")
    {
        Layout = "Master.cshtml";
    }
    var isEnglish = UmbracoContext.VariationContextAccessor?.VariationContext?.Culture == "en-US";

    var homepage = Model.AncestorOrSelf<ContentModels.Home>();
    var faqContent = homepage.Children<ContentModels.FAqs>().FirstOrDefault();
    var faqs = faqContent.Children<ContentModels.FAQ>();
}

<!-- Start FAQ Area -->
<section class="faq-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="top-title">@faqContent.SmallTitle</span>
            <h2>@faqContent.MainTitle</h2>
        </div>

        <div class="faq-accordion">
            <ul class="accordion">
                @foreach (var faq in faqs)
                {
                    <li class="accordion-item">
                        <a class="accordion-title" href="javascript:void(0)">
                            <i class="bx bx-plus"></i>
                            @faq.Question
                        </a>

                        <div class="accordion-content">
                            <p>@faq.Answer</p>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    @if (Model.ContentType.Alias != "fAQs")
    {
        <div class="container text-center pt-4">
            <a href="@(isEnglish ? "/en" : "/ar")/faqs" class="default-btn">
                @Umbraco.GetDictionaryValue("ReadMore")
            </a>
        </div>
    }

</section>
<!-- End FAQ Area -->
