@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.OurTeam>
@using ContentModels = Umbraco.Web.PublishedModels;

@{
    Layout = "Master.cshtml"; 
    var Teams = Model.Children<ContentModels.Team>();
}

@* the fun starts here *@

<div class="page-title-area bg-24">
    <div class="container">
        <div class="page-title-content">
            <h2>@Umbraco.AssignedContentItem.Name</h2>
            <ul>
                <li>
                    <a href="@Umbraco.AssignedContentItem.Parent.Url()">
                        @Umbraco.AssignedContentItem.Parent.Name
                    </a>
                </li>
                <li class="active">@Umbraco.AssignedContentItem.Name</li>
            </ul>
        </div>
    </div>

</div>
<!-- Start Teachers Area -->
<section class="teachers-area-style pt-100 pb-70">
    <div class="container">
        <div class="section-title"> 
            <span>@Model.Title</span>
            <h2>@Model.Subtitle</h2>
        </div>

        <div class="row">
            @foreach (var team in Teams)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="single-teachers">
                        <img src="@team.TeamPicture" alt="Image">

                        <div class="teachers-content">
                            @*<ul>
                                <li>
                                    <a href="#"><i class="bx bxl-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="bx bxl-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="bx bxl-linkedin-square"></i></a>
                                </li>
                            </ul>*@

                            <h3>@team.TeamName</h3>
                            <span>@team.TeamTitle</span>
                        </div>
                    </div>
                </div>

            }

            
        </div>
    </div>
</section>
<!-- End Teachers Area -->