@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.SingleNews>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<div class="page-title-area bg-24">
    <div class="container">
        <div class="page-title-content">
            <h2>@Umbraco.AssignedContentItem.Name</h2>
            <ul>
                <li>
                    <a href="@Umbraco.AssignedContentItem.Parent.Url()">
                        @Umbraco.AssignedContentItem.Parent.Name
                    </a>
                </li>

                <li class="active">@Umbraco.AssignedContentItem.Name</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->
<!-- Start Single Event Area -->
<section class="single-event-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-event-content">
                    <h3 class="title">@Model.Title</h3>

                    <ul class="post-details">
                        <li>
                            <i class='bx bx-calendar'></i>
                            Posted on @Model.CreateDate
                        </li>
                    </ul>
                    @if (!string.IsNullOrWhiteSpace(Model.Picture))
                    {
                        <img src="@Model.Picture" alt="Image">
                    }

                    <h3 class="mb-2">@Model.Subtitle</h3>

                    <p>@Model.Description</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Single Event Area -->
